
{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title > Fun Journey </title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
                rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel ="stylesheet">
  </head>
  <body>
    <div class="container-fluid ">
       <div class="row">
          <div class="col-sm-2 shadow-sm p-2 mb-3 rounded  clo_1  ">

          </div>

          <div class="name_blog col-sm-8  shadow-sm p-2 mb-3  rounded ">
            <h1><a href="{% url 'home' %}">Fun Journey</a></h1>
          </div>

          <div class = "col-sm-2 shadow-sm p-2 mb-3 rounded col_1 auth">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}">+ New Blog Post </a>
              <br>
            <p class="hello"> Привет {{ user.username }}</p>
              <br>
            <a href="{% url 'logout' %}"> Выйти </a>
              {% else %}
            <a href="{% url 'login' %}"> Войти </a>
              <br>
            <a href="{% url 'signup' %}"> Регистрация </a>
            {% endif%}
           </div>

       </div>
    </div>
      {% block content %}
      {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
