
{% extends 'base.html' %}
{% block content %}
  {% for post in object_list %}
 <div class="container-fluid home_container ">
   <div class="row">

    <div class="post-entry col-md-6 offset-md-3 shadow-sm p-2 mb-3 rounded">
      <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
      <p> {{ post.body }}</p>
    </div>

   </div>
 </div>
{% endfor %}
{% endblock content %}
