{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col_1 new_blog">
      <h2> New Post </h2>
        {% if user.is_authenticated %}
          < action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" class="form btn btn-success new_post_btn " >
          </form>
        {% else %}
          <p> Для создания нового блога зарегистрируйтесь</p>
          <a href="{% url 'login' %}"> Регистрация </a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
