{% extends 'base.html' %}

{% block content %}
<div class="container-fluid ">
  <div class="row">
    <div class=" col-sm-4 post-entry shadow-sm p-2 mb-3 rounded">
      <h2>{{ object.title }}</h2>
      <p>{{ object.body }}</p>

      {% if user.is_authenticated %}
      <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
      <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post </a></p>
      {% endif %}
    {% endblock content %}
  </div>>
</div>
</div>
