{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 signup_col">
      <h2>Регистрация</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success "> Выполнить </button>
      </form>
     </div>
  </div>
</div>

{% endblock content %}
