body {
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
    background-image:url(https://wikiway.com/upload/resize_cache/uf/edb/1024_800_1/dominikana_8.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-color:black;
    color:white;
}
h1 {
    color:white;
    font-size: 60pt;
    }
h2 {
    color:white;
    }

a{
    color:white;
    }
a:hover{
    color:orange;
    }

.name_blog{
    padding-top: 15px;
    margin-top:10px;
    background-color: #04819E;
    text-align:center;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.01);
    font-size: 15pt;
    }

.auth {
    text-align:right;
    padding-top: 20px;
    padding-right: 20px;
    margin-top:10px;
    background-color: rgba(0, 0, 0, 0.01);
    font-size: 15pt;
    }

.hello{
    font-size: 25px;
}

.btn-success{
    font-size: 20px;
}
.post-entry{
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px ridge white;

}

.home{
    position:absolute;

}
.home_container{
    margin-left:10px;
}
.name_blog{
    border: 1px ridge white;
}
.post-entry .col_1{
    border: 1px ridge white;

}
signup_col{
    padding: 20px;
    border: 1px ridge white;
}

.login_form{
    padding: 20px;
    font-size: 15pt;
}

