{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 col_1 login">
      <form method="POST" class="login_form">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="btn btn-success">Отправить</button>
    </div>
  </div>
</div>
{% endblock content %}



